<section>

    <app-sign
        (linkChange)="setUserLink($event)"
    />

    @if ( logged() ) {
        <p>Bienvenido {{ username() }}</p>
        <button [disabled]="isDisable()" (click)="logged.set(false)">Cerrar sesión</button>
    } @else {
        <p>Iniciar sesion</p>
        <button [disabled]="isDisable()" (click)="logged.set(true)">Inicia sesion</button>
    }

    <app-property
        (addDisableEvent)="toggleDisable()"
    />

    <app-games
        (addFavoriteEvent)="setFavGame($event)"
        username="{{ username() }}"
    />
    @if (favGame()) {
        <p>Tu juego favorito es {{ favGame() }} </p>
    }


    <app-events
        username="{{ username() }}"
        imageUrl="{{ userLink() }}"
    />

</section>